html{
    font-size: 62.5%;
}

body {
    background-color: #eeeeee;
    font-family: "Red Hat Display", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 330px;
    background-color: #1f2949;
    color: #FFFFFF;
    text-align: center;
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 1);
}

.search-city {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.search-city input {
    background-color: #0a1435;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 700;
    opacity: 0.8;
}

.search-city .search-button {
    background-color: #0a1435;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.3s ease;
}

.search-city .search-button:hover {
    cursor: pointer;
    background-color: #0a14358f;
}

.search-button .lupa-image{
    width: 30px;
    padding: 2px;
    opacity: 0.8;
}

.details {
    margin: 30px;
}

.details #city{
    font-size: 1.8rem;
}

.details .temperature{
    font-size: 6.8rem;
    margin: 20px 0;
}

.details .climate-condition{
    font-size: 2rem;
}

.more-details{
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.more-details .humidity, 
.more-details .wind-speed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding: 5px 0;
}
